html {
    background: linear-gradient(#882277, #999);
    background-attachment: fixed;
    font-family: arial;
}

.footer	{
	text-align: center;
	text-shadow: 2px 2px 2px #999;
	background-color: #a3298f;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.footer p {
	padding: 4px;
}

.logo,
.menu {
	text-align: center;
}

.logo {
	text-shadow: 2px 2px 2px #999;
}

.menu ul li {
	display: inline-block;
	width: 200px;
	line-height: 30px;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-size: 30px;
	vertical-align: middle;
}

.menu ul li a:hover {
	font-size: 40px;
}

.user_login {
	border: 1px solid red;
}

.user_login label {
	display: inline-block;
	width: 90px;
	padding-right: 5px;
	text-align: right;
}

.registration {
	border: 1px solid green;
}

#frontpage {
	text-align: center;
}

#fpimg1 {
	height: 200px;
	box-shadow: 4px 4px 4px #333;
}
