@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Norican);

html {
	background: radial-gradient(#fdfefe,#e4f2f5);
  background-attachment: fixed;
  font-family: arial;
  min-height: 100%;
  position: relative;
  color: #040a0b;
  letter-spacing: 0.7px;
}

body {
	margin: 0 0 100px;
}

.footer	{
	text-align: center;
	background-color: #5bb3c3;
	line-height: 40px;
	font-size: 20px;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	color: #fdfefe;
}

.footer p {
	margin: 0;
}

.logo,
.menu {
	text-align: center;
}

.menu {
	margin-bottom: 40px;
}

.logo {
	color: #5bb3c3;
	font-family: 'Norican', cursive;
}

.route {
	padding-left: 60px;
	padding-right: 60px;
	text-align: justify;
}

.route a {
	text-decoration: none;
	color: #5bb3c3;
}

.route ul {
	line-height: 0.4em;
}

.route img:hover {
	cursor: pointer;
}

.menu {
	background-color: #5bb3c3;
	line-height: 60px;
}

.menu ul {
	padding: 0;
	margin: 0;
}

.menu ul li {
	padding:0;
	margin: 0;
	display: inline-block;
	width: 200px;
	line-height: 30px;
}

.menu ul li a {
	text-decoration: none;
	color: #fdfefe;
	font-size: 30px;
	vertical-align: middle;
}

.menu ul li a:hover {
	font-size: 40px;
}

.loginregister table {
	margin-left:auto; 
  margin-right:auto;
	text-align: center;
}

.loginregister fieldset {
	height: 150px;
}

.loginregister label {
	display: inline-block;
	width: 90px;
	padding-right: 5px;
	text-align: right;
}

.join,
.leave {
	height: 32px;
	padding-left: 10px;
	position: relative;
	top: 5px;
}

.about p {
	font-family: 'Amaranth', sans-serif;
	font-size: 22px;
}

.about img {
	height: 80px;
}

#frontpage {
	text-align: center;
}

#fpimg1 {
	margin-top: 40px;
	height: 200px;
}

#gendb {
	position: absolute;
}

.topbanner {
	position: absolute;
	left: 10px;
	top: 0px;
}

.topbanner p {
	line-height: 0em;
	padding-right: 20px;
}

.tif {
	position: absolute;
	top: 0;
	left: 10px;
}

.register {
	position: relative;
	top: 10px;
}

.logged {
	position: relative;
	top: -35px;
}

.register,
.logged {
	text-decoration: none;
}

.about {
	text-align: center;
}

.del {
	cursor: pointer;
	background-color: #5bb3c3;
	color: #fdfefe;
}

#admin{
	margin: 0 auto;
	padding: 20px;
}

#admin table,th,td{
	border: 1px solid #040a0b;
	border-collapse: collapse;
	padding: 10px;
}

#admin th {
	text-transform: uppercase;
}

#admin a {
	text-decoration: none;
}

#admin label {
	text-transform: uppercase;
}

#admin table {
	cursor: pointer;
}

#admin select {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	border: 1px solid #5bb3c3;
	background-color: #fdfefe;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
	padding: 5px;
	margin: 0;
}

#admin input[type="submit"]{
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	border: 1px solid #5bb3c3;
	background-color: #fdfefe;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
	padding: 5px;
	margin: 0;
	margin-top: 10px;
}

#admin input{
	line-height: 20px;
	font-size: 16px;
	padding: 5px;
}

#admin table input[type="submit"] {
	margin: 0;
}

#admin textarea {
	width: 300px;
	height: 200px;
}

#admin textarea,
#admin input{
	border: 1px solid #5bb3c3;
}



