/*
    TODO...
*/

html {
    background: linear-gradient(#882277, #999);
    background-attachment: fixed;
    font-family: arial;
}

.logo,
.menu {
	text-align: center;
}

.logo {
	text-shadow: 2px 2px 2px #999;
}

.menu ul li {
	display: inline-block;
	width: 200px;
	line-height: 30px;
}

.menu ul li a {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	font-size: 30px;
	vertical-align: middle;
}

.menu ul li a:hover {
	font-size: 40px;
}

.user_login label {
	display: inline-block;
	width: 90px;
	padding-right: 5px;
	text-align: right;
}
